{% extends "base.html" %}
{% block title %}
Home
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <a href="{% url 'category_create' %}" class="btn btn-success">New Category</a>
        {% endif %}
    {% endif %}

    <ul>
        {% for category in object_list %}
            <li>
                <a href="{% url 'category_detail' category.id %}">{{ category.name }}</a>
                {% if user.is_superuser %}
                        <a class="btn btn-secondary" href="{% url 'category_update' category.id %}">Update</a>
                        <a class="btn btn-danger" href="{% url 'category_delete' category.id %}">Delete</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}