{% extends "base.html" %}
{% block title %}
Home
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if "author" in user.groups.all.0.name %}
            <a href="{% url 'post_create' %}" class="btn btn-success">New Post</a>
        {% endif %}
    {% endif %}

    <ul>
        {% for post in object_list %}
            <li>
                <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a> - {{ post.category }}
                {% if user.is_authenticated %}
                    {% if user == post.author %}
                        <a class="btn btn-secondary" href="{% url 'post_update' post.id %}">Update</a>
                        <a class="btn btn-danger" href="{% url 'post_delete' post.id %}">Delete</a>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}